@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Inria-Sans');
@import url('https://fonts.googleapis.com/css?family=Basic');

.container {
    margin: 4% 7%;
    height:100%;
}

hr {
	color:#3D0053;
	margin: 20px;
}

.blog-title {
    font-family: Inria-Sans;
    font-size: 36px;
    font-weight: bold;
    padding-top: 10px;
}

.nav {
    background-color: #9721CE;
    height: 200px;
    position: relative;
}

.nav-links {
    background-color: #9721CE;
    position: absolute;
    left:0px;
    bottom:0px;
}

.nav-links a {
    font-family: Inconsolata;
    font-size: 24px;
    font-weight:bold;
    float:left;
    color:white;
    padding: 15px 15px;
    text-decoration: none;
}

.nav-links a:hover {
	border-bottom-style:solid;
	border-width:7px;
	border-color:#F3219F;
	padding-bottom:8px;

}

.post-container {
	padding: 15px;
	width: 70%;
	outline-width: 0px;
	outline-style: solid;
	float: left;
	margin-top: 80px;
}
.post-container h1 {
	font-family: "Noto Sans";
}
.post-preview {
	outline-width: 0px;
	outline-style: solid;
	font-family: "Noto Sans";
	font-size: 13.5px;
	margin-left:20px;
	margin-right:20px;

}

.post-preview p {
	font-family: "Noto Sans";
	font-size: 13.5px;
	margin-top:30px;
}

.post-preview a {
	color: #3D0053;
	text-decoration: none;

}

.post-preview a:hover {
	color: #3D0053;
	text-decoration: underline;
}

.post-preview-info {
	margin-bottom:0px;
}

.post-preview-info h1 {
	font-family: Basic;
	font-size: 27px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.post-preview-info h2 {
	font-family: Basic;
	font-size: 13.5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.post-preview-info a {
	color: #3D0053;
	text-decoration: none;
	float:left;
	margin-right:3px;
}

.post-preview-info a:hover {
	color: #3D0053;
	text-decoration: underline;
	float: left;
}

.post-preview-body {

}

.post {
	font-family: "Noto Sans";
	font-size: 18px;
	margin-bottom: 50px;
}

.post p {
	font-family: "Noto Sans";
	font-size: 18px;
}

.post a {
	color: #3D0053;
	text-decoration: none;
}

.post a:hover{
		text-decoration: underline;
}

.post-info {
	font-family: Basic;
}

.post-info a {
	color: #3D0053;
	text-decoration: none;
}

.post-info a:hover {
	text-decoration: underline;
}

.post-info h1 {
	font-family: Basic;
	font-size: 54px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.post-info h2 {
	font-family: Basic;
	font-size: 27px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.post-info h3 {
	font-family: Basic;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:0px;
}

.sidebar-container {
	float: right;
	outline-style: solid;
	outline-width: 0px;
	width: 23%;
	padding:5px;
	margin-top: 80px;
	font-family: Basic;
	background-color:#EDEDED;
	margin-bottom: 60px;
}

.sidebar-container hr {
	border:4px solid #F3219F;
	padding: 0px;
	width:33%;
	margin: 0;
}

.sidebar-box {
	font-family: Basic;
	margin-bottom:25px;
}

.sidebar-box a {
	color: #3D0053;
	text-decoration: none;

}

.sidebar-box a:hover {
	color: #3D0053;
	text-decoration: underline;
}

.sidebar-box ul {
	line-height: 2.8;
	font-size:18px;
	color: #3D0053;
  	list-style-type: circle;
	margin-top: 15px;


}

.sidebar-box h3 {
	margin-top:0px;
	margin-bottom:0px;

}

.center {
  text-align: center;
}

.pagination {
	display: inline-block;
	margin: 20px 0px;
}

.pagination a {
	color: #3D0053;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	border: 0px solid black;
	margin: 0 4px;
	background-color: white;
	font-family: Basic;
}

.pagination a.active {
  background-color: #F3219F;
  color: white;
}

.pagination a:hover {
	text-decoration: none;
	background-color: #F3219F;
	color: white;
}

.pagination a.disabled {
  background-color: white;
  color: black;
  border: 1px #3D0053;
}

#title-form input[type="text"],
#title-form input[type="submit"] {
	background-color: white;
	font-family: Basic;
	font-size: 54px;
	border:0;
	width:100%;
}

#submit-post input[type="submit"]{
	background-color: #9721CE;
	color: white;
	margin-top:20px;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-family: "Noto Sans";
	font-weight: bold;
	font-size: 28px;
	border: 0;
	float:left;
	transition: background-color 0.4s;
}

#submit-post input[type="submit"]:hover{
	background-color: #F3219F;
	cursor: pointer;
}

#tag-form,
#tag-form input[type="text"],
#tag-form input[type="submit"]
{
	font-family: Basic;
	font-size: 18px;
	border:0;
	margin-bottom: 5px;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
}

button {
	background-color: #9721CE;
	color: white;
	font-family: "Noto Sans";
	font-size:20px;
	font-weight: bold;
	padding:10px;
	border: 0;
	text-align: center;
	text-decoration: none;
	float:right;
	transition: background-color 0.4s;
	margin-right:2px;

}

button:hover{
	background-color: #F3219F;
	cursor: pointer;
}
/*
.post-button span {
	cursor: pointer;
	transition: 0.4s;
}

.button span:after {
  content: 'New Post';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
*/
.login-button {
	float:right;
	background-color: #9721CE;
	color: white;
	font-family: "Noto Sans";
	padding:10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.4s;
}

.login-button:hover {
	background-color: #F3219F;
}
#login-form {
	width: 50%;
	font-family: "Noto Sans";
	margin:auto;

}
#login-form input[type="text"],
#login-form input[type="password"] {
	padding: 12px 20px;
	width:100%;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #9721CEFF;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	outline: none;

}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
	border: 2px solid #F3219F;
	padding: 11px 20px;
}

#login-form input[type="checkbox"] {


}
#login-form input[type="submit"] {
	background-color: #9721CE;
	color: white;
	font-family: "Noto Sans";
	padding:10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: 0;
	display: block;
	margin: 10px 0;
	transition-duration: 0.4s;
}

#login-form input[type="submit"]:hover {
	background-color: #F3219F;
}

.form-label {
	font-family: "Noto Sans";
	font-size:16px;
	font-weight: bold;
}

.flash-messages {
	font-family: "Noto Sans";
	font-size:16px;
	color:#3D0053;
	border: 1px solid #9621cc;
	background-color: #e8c9ff;
	border-radius: 20px;
	width:33%;
	margin:auto;
	margin-top:30px;
	text-align: justify;
}

.flash-messages ul {
  	list-style-type: none;
}

.post-options {
	display: inline-block;
}

.cancelbtn, .deletebtn {
	float: left;
	width: 50%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.cancelbtn, .deletebtn:hover{
  opacity:1;
	cursor: pointer;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
}

.deletebtn {
  background-color: #9621cc;
}

.deletebtn a {
	text-decoration: none;
	width: 50%;
	cursor: pointer;

}

.modal-container {
  padding: 16px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  padding-top: 50px;
}

.modal a {
	text-decoration: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #9621cc;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}