{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

<div class="container">

    {% block nav %}
    <div class="blog-title">blog title</div>
    <div class="nav">
        <div class="nav-links">
            <a href="{{ url_for('.index') }}">blog index</a>
            <a href="#">join mailing list</a>
        </div>
    </div>
    {% endblock %}

    {% block page_content %}

    {% endblock %}

    <div class="sidebar-container">
        <div class="sidebar-box">
            <h3>Recent Posts</h3>
            <hr>
            <ul>
                <li><a href=#">Recent Post One</a></li>
                <li><a href=#">Recent Post Two</a></li>
                <li><a href=#">Recent Post Three</a></li>
                <li><a href=#">Recent Post Four</a></li>
                <li><a href=#">Recent Post Five</a></li>
            </ul>
        </div>
        <div class="sidebar-box">
            <h3>Categories</h3>
            <hr>
            <ul>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
                <li><a href="#">Category One</a></li>
            </ul>
        </div>
    </div>
</div>