{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Blog Title{% endblock %}

{% block page_content %}
     <div class="post-container">
        <a href="{{ url_for('.new_post') }}" class="button">
            New Post
        </a>
            {% for post in posts %}
		    	<div class="post-preview">
		    		<div class="post-preview-info">
		    			<h1>{{ post.title }}</h1>
		    			<h2><a href="#">{{ post.author }}</a>	<a href="#">{{ post.time}}</a></h2>
		    		</div>
		    		<p>
                        {{ post.body | safe }}
		    		</p>
		    			<a href="{{ url_for('.post', id=post.id) }}">Keep Reading</a>
		    	</div>
		    	<hr>
            {% endfor %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
     </div>
{% endblock %}

{% block recent_posts %}
    {% include '_sidebar_posts.html' %}
{% endblock %}

{% block post_categories %}
    {% include '_sidebar_categories.html' %}
{% endblock %}