{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Blog Title{% endblock %}

{% block page_content %}
     <div class="post-container">
        {% if current_user.can(Permission.WRITE) %}
            <a href="{{ url_for('.new_post') }}" class="button">
                New Post
            </a>
        {% endif %}
        {% include '_posts.html' %}
        <div class="center">
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        </div>

     </div>
{% endblock %}

{% block recent_posts %}
    {% include '_sidebar_posts.html' %}
{% endblock %}

{% block post_categories %}
    {% include '_sidebar_categories.html' %}
{% endblock %}