{% extends "base.html" %}

{% block page_content %}
    <div class="post-container">
        <div class="post">
            <div class="post-info">
                <h1>{{ post.title }}</h1>
                <h2><a href="#">{{ post.author }}r</a>	<a href="#">{{ post.time}}</a></h2>
                <h3>in
                    {% for t in post_tags %}
                    <a href="#">{{ t.name }}</a>,
                    {% endfor %}
                </h3>
            </div>
            <p>
                {{ post.body }}
            </p>
        </div>
    </div>
{% endblock %}

{% block recent_posts %}
    {% include '_sidebar_posts.html' %}
{% endblock %}

{% block post_categories %}
    {% include '_sidebar_categories.html' %}
{% endblock %}